.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr [middle] 1fr 1fr;
  grid-template-rows: auto;
  background-color: rgb(124, 124, 124);
  height: 100%;
}

.connect-wallet-wrapper {
  grid-column: middle;
}

.connect-wallet {
  border: 2px solid black;
  border-radius: 4px;
  background-color: transparent;
  width: 70%;
  height: 40px;
  
}

.connect-wallet:hover {
  cursor: pointer;
}

.mint {
  border: 2px solid black;
  border-radius: 4px;
  background-color: transparent;
  width: 70%;
  height: 40px;
}



.mint:hover {
  cursor: pointer;

}

.mint-wrapper {
  grid-column: middle;

}

