.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr [middle] 1fr 1fr;
  grid-template-rows: auto;
  background-color: rgb(59, 59, 59);
}

.connect-wallet-wrapper {
  grid-column: middle;
}

.connect-wallet {
  border: 2px solid black;
  border-radius: 4px;
  background-color: transparent;
  width: 70%;
  height: 40px;
}

.connect-wallet:hover {
  cursor: pointer;
}

.mint {
  grid-column: middle;

}

